body {
    background-color: antiquewhite;
}

li {
    list-style-type: none;
}

#item-to-add {
    font-size: 20px;
}

label {
    font-size: 20px;
}

button {
    border-radius: 25px;
    font-size: 15px;
    margin-right: 10px;
}

label.crossed-out {
    text-decoration: line-through;
    color: red;
}

.list-checkbox {
    margin-right: 10px;
}

#intro-screen {
    padding-left: 25px;
    /* border: red dotted; */
    float: left;
}

#list-screen {
    /* border: red dotted; */
    width: 50%;
    /* float: right; */
    /* display: none; */
}